@font-face {
    font-family: IBMDokument;
    src: url(../fonts/IBMDokument-Regular.otf) format("opentype");
}
@font-face {
    font-family: ChillKai;
    src: url("../fonts/ChillKai_AfterPity_Site.woff2") format("woff2");
    font-display: swap;
    unicode-range:
        U+2013-2014, U+2018-2019, U+201C-201D, U+2026, U+2300, U+3001-3002,
        U+4E00, U+4E0A-4E0B, U+4E0D-4E0E, U+4E16, U+4E1C, U+4E24,
        U+4E2A, U+4E2D, U+4E3A-4E3B, U+4E4B, U+4E5F-4E60, U+4E86,
        U+4E8B-4E8C, U+4E8E, U+4E94, U+4E9A, U+4EA4, U+4EA7,
        U+4EAE, U+4EBA, U+4ECA-4ECB, U+4ECE, U+4EE5, U+4EEA,
        U+4EEC, U+4EF6, U+4EFD, U+4F0F, U+4F17, U+4F1A,
        U+4F20, U+4F46, U+4F4D, U+4F53, U+4F5C, U+4F73,
        U+4FA7, U+4FDD, U+4FE1, U+5012, U+504F, U+505A,
        U+505C, U+50CF, U+5149, U+514B, U+5165, U+5168,
        U+5170, U+5173, U+5176, U+5185, U+518D, U+5199,
        U+51B3, U+51B5, U+51FA-51FB, U+5206-5207, U+5217, U+521A-521B,
        U+521D, U+5224, U+5230, U+5236, U+523A-523B, U+524D,
        U+529B, U+52A0, U+52A8, U+52B2, U+52BF, U+5305,
        U+5316, U+533A, U+5343, U+534A, U+5356, U+5373,
        U+5386, U+538C, U+539F, U+53BB, U+53C2, U+53CA-53CD,
        U+53D1, U+53D7-53D9, U+53E0, U+53E3, U+53E6, U+53EA,
        U+53F7, U+5404, U+5408, U+540C-540E, U+5411, U+5417,
        U+541B, U+5420, U+5426-5427, U+542C, U+542F, U+547D,
        U+548C, U+54C1, U+54CD, U+54EA, U+552E-552F, U+5668,
        U+566A, U+56DE, U+56E0, U+56E2, U+56ED, U+56F0,
        U+56FE, U+5728, U+5730, U+573E, U+5750, U+5783,
        U+57CE, U+5851, U+58F0, U+590D, U+5916, U+591A,
        U+591C, U+5927, U+5929-592A, U+5931, U+5947, U+5979,
        U+597D, U+5982, U+5988, U+59CB, U+59FF, U+5A01,
        U+5A5A, U+5A92, U+5B50, U+5B57, U+5B83, U+5B8C,
        U+5B9A-5B9C, U+5B9E, U+5BA1, U+5BA4, U+5BB6, U+5BB9,
        U+5BF8-5BF9, U+5BFC, U+5C04, U+5C06, U+5C0F, U+5C11,
        U+5C1D, U+5C31, U+5C3A, U+5C3C-5C3D, U+5C42, U+5C55,
        U+5C5E, U+5DE5-5DE8, U+5DF1-5DF2, U+5E08, U+5E0C, U+5E26,
        U+5E38, U+5E73-5E74, U+5E76, U+5E8F, U+5E94, U+5EA6,
        U+5EFA, U+5F00, U+5F0F, U+5F20, U+5F25, U+5F3A,
        U+5F55, U+5F62, U+5F71, U+5F84-5F85, U+5F97, U+5FCD,
        U+5FD8, U+5FEB, U+6001, U+6015, U+6027, U+603B,
        U+6052, U+606F-6070, U+6076, U+60A6, U+60C5, U+60EF,
        U+60F3, U+6109, U+611F, U+613F, U+6162, U+61BE,
        U+6210-6211, U+6216, U+6240, U+624B, U+624E, U+627F,
        U+6295, U+62C6, U+62CD, U+62D6, U+62DF, U+62E5,
        U+62E9, U+62EC, U+62FD, U+6301-6302, U+6309, U+6349,
        U+6355, U+6362, U+636E, U+638F, U+63A5, U+6405,
        U+6469, U+649E, U+64AD, U+64E6, U+6536, U+653E,
        U+6548, U+654F, U+6570, U+6587, U+6599, U+65AD,
        U+65AF-65B0, U+65B9, U+65BD, U+65E0, U+65E2, U+65E5,
        U+65F6, U+6625, U+662F, U+6655, U+666E, U+6682,
        U+6697, U+66F4, U+66FE, U+6700, U+6708-6709, U+671B,
        U+671F, U+672A, U+672C, U+672F, U+6735, U+673A,
        U+6750, U+6761, U+6765, U+677F, U+6781, U+6784,
        U+679C, U+67E5, U+6807, U+6811, U+6817, U+6837,
        U+6839, U+683C, U+6876, U+68A6, U+68C0, U+6B21,
        U+6B3E, U+6B62-6B63, U+6B65, U+6B86, U+6B8A-6B8B, U+6BB5,
        U+6BCF, U+6C38, U+6CBB, U+6CD5, U+6D3B, U+6D41,
        U+6D4F, U+6D88, U+6E05, U+6E10, U+6E38, U+6E90,
        U+6EE1, U+6F2B, U+706F, U+70B9, U+70C2, U+70C8,
        U+70DB, U+70E7, U+7126, U+7136, U+7167, U+7199,
        U+71C3, U+7231, U+7247-7248, U+7269, U+7279, U+72B6,
        U+72D7, U+7384, U+738B, U+73AF-73B0, U+7406, U+74F6,
        U+751F, U+7528, U+7531, U+7535, U+753B, U+754C,
        U+7559, U+7597, U+75AB, U+75DB, U+7684, U+76D1-76D2,
        U+76F4, U+76F8, U+770B, U+771F, U+773C, U+7740,
        U+775B, U+77E5, U+77ED, U+77F3, U+7816, U+788E,
        U+789F, U+795E, U+79A7, U+79BB, U+79CD, U+79D2,
        U+79F0, U+7A0B, U+7A7A, U+7A81, U+7A97, U+7AA3,
        U+7AB8, U+7ACB, U+7AD9, U+7ADF, U+7B2C, U+7B49,
        U+7B51, U+7B80, U+7C7B, U+7CBE, U+7CFB, U+7D27,
        U+7EAA, U+7EB3, U+7EB5, U+7EB8, U+7EBF, U+7EC4,
        U+7EC7, U+7ECF, U+7ED3, U+7ED9, U+7EDD, U+7EDF,
        U+7EED, U+7EFF, U+7F51, U+7F6E, U+8005, U+800C,
        U+8033, U+8054, U+809A, U+80FD, U+8102, U+8111,
        U+8150, U+817F, U+81EA, U+81F3-81F4, U+8272, U+827A,
        U+82B1, U+82F1, U+8377, U+83B7, U+843D, U+85CF,
        U+8651, U+8721, U+8737, U+884C, U+8857, U+8865,
        U+8868, U+888B, U+88AB, U+88C5, U+88F9, U+897F,
        U+8981, U+89C1-89C2, U+89C6, U+89C8-89C9, U+89D2, U+89E3,
        U+8BA1, U+8BA9, U+8BB0, U+8BB8, U+8BBE, U+8BD5,
        U+8BDA, U+8BF7, U+8D28, U+8D70, U+8D76-8D77, U+8D8A,
        U+8DA3, U+8DEF, U+8DF5, U+8EAB, U+8F6C, U+8F7D,
        U+8FB9, U+8FBE, U+8FC7, U+8FD1, U+8FD8-8FD9, U+8FDB-8FDC,
        U+8FDE, U+8FEB, U+8FF7, U+9002, U+9006, U+9009,
        U+9010, U+9017, U+901A, U+901F-9020, U+9057, U+9080,
        U+90A3, U+90E8, U+90FD, U+9175, U+91CC-91CD, U+91CF,
        U+91D1, U+94A2, U+94C3, U+94DB-94DC, U+94F6, U+94F8,
        U+9508, U+9510, U+9519, U+9540, U+95EA, U+95ED-95EE,
        U+95F4, U+9632, U+9648, U+9664, U+9676, U+968F-9690,
        U+9694, U+96BE, U+9700, U+9752, U+9759, U+975E,
        U+9760, U+9762, U+97F3, U+9875-9876, U+987A, U+987E,
        U+9898, U+989C, U+98DE, U+9A8C, U+9AD8, U+9C7C,
        U+9CDE, U+9E23, U+9E3D, U+9ED1, U+9F20, U+FF08-FF09,
        U+FF0C, U+FF1F;
}
@font-face {
    font-family: ChillKai;
    src: url("../fonts/ChillKai_AfterPity_Common.woff2") format("woff2");
    font-display: swap;
    unicode-range:
        U+00B7, U+00D7, U+3008-300B, U+3010-3011, U+4E01, U+4E03,
        U+4E07, U+4E09, U+4E13-4E14, U+4E1A, U+4E1D, U+4E22,
        U+4E25, U+4E30, U+4E39, U+4E3D-4E3E, U+4E43, U+4E45,
        U+4E48-4E49, U+4E4C, U+4E4E, U+4E50, U+4E52-4E54, U+4E58,
        U+4E5D, U+4E61, U+4E66, U+4E70-4E71, U+4E88-4E89, U+4E91-4E92,
        U+4E95, U+4E9B, U+4EA6, U+4EAB-4EAC, U+4EB2, U+4EC0-4EC1,
        U+4EC5, U+4ECD, U+4ED1, U+4ED4, U+4ED6, U+4ED8-4ED9,
        U+4EE3-4EE4, U+4EF7, U+4EFB, U+4F01, U+4F0A, U+4F0D,
        U+4F11, U+4F18-4F19, U+4F1F, U+4F24, U+4F2A, U+4F2F-4F30,
        U+4F34, U+4F38, U+4F3C, U+4F4E-4F4F, U+4F55, U+4F59,
        U+4F5B, U+4F60, U+4F7F, U+4F8B, U+4F9B, U+4F9D,
        U+4FA0, U+4FAF, U+4FB5, U+4FBF, U+4FC3-4FC4, U+4FDE,
        U+4FE9, U+4FEE, U+500D, U+5019, U+501F, U+502A,
        U+503A, U+503C, U+503E, U+5047, U+5065, U+5076-5077,
        U+5085, U+50B2, U+513F, U+5141, U+5143-5145, U+5148,
        U+514D, U+5154, U+516B-516D, U+5171, U+5174-5175, U+5177-5178,
        U+517B, U+5192, U+519B-519C, U+51AC, U+51AF-51B0, U+51B2,
        U+51B7, U+51C0, U+51C6, U+51C9, U+51CF, U+51E0-51E1,
        U+51E4, U+51EF, U+51F6, U+5200, U+5211-5212, U+5218-5219,
        U+5229, U+522B, U+5267, U+5269, U+526F, U+529E-529F,
        U+52A1, U+52A9-52AA, U+52B1, U+52B3, U+52C7, U+52E4,
        U+52FA, U+5317, U+5319, U+533B, U+5341, U+5348,
        U+534E, U+5355, U+5357, U+535A, U+535C, U+535E,
        U+5360-5362, U+536B, U+5370-5371, U+5374, U+5377, U+5382,
        U+5385, U+5389, U+538B, U+5395, U+539A, U+53A8,
        U+53C8, U+53D4, U+53D6, U+53E4-53E5, U+53EB-53EC, U+53EF-53F0,
        U+53F2-53F3, U+53F6, U+53F8-53F9, U+5403, U+5415-5416, U+542B,
        U+5434, U+5438-5439, U+5440, U+544A, U+5458, U+5462,
        U+5468, U+5473, U+547C, U+54B1, U+54B3, U+54B8,
        U+54C8, U+54CE, U+54E5, U+54ED, U+54F2, U+5510,
        U+5531, U+5546, U+554A, U+5566, U+5584, U+559C-559D,
        U+55BB, U+55FD, U+5634, U+56DB, U+56F4, U+56FA,
        U+56FD, U+5706, U+5723, U+573A, U+5740, U+5747,
        U+5757, U+575A, U+5766, U+578B, U+57F9-57FA, U+5802,
        U+5835, U+5854, U+586B, U+5883, U+5899, U+589E,
        U+58C1, U+58EB, U+58EE, U+5904, U+5907, U+590F,
        U+591F, U+592B, U+592E, U+5934, U+5937-5938, U+5949,
        U+594B, U+5954, U+5956-5957, U+595A, U+5965, U+5973,
        U+5987, U+5999, U+59B9, U+59BB, U+59D1, U+59D3-59D4,
        U+59DA, U+59DC, U+5B54, U+5B58-5B59, U+5B5F, U+5B63-5B64,
        U+5B66, U+5B69, U+5B81, U+5B87-5B89, U+5B8B, U+5B97-5B98,
        U+5BA2-5BA3, U+5BAB, U+5BB3, U+5BBD, U+5BC4, U+5BC6,
        U+5BCC, U+5BD2, U+5BDF, U+5BFB, U+5C01, U+5C09-5C0A,
        U+5C14, U+5C24, U+5C39, U+5C3E, U+5C40, U+5C45,
        U+5C71, U+5C81, U+5C91, U+5C9B, U+5CA9, U+5CB8,
        U+5D14, U+5DDE, U+5DEE, U+5DF4, U+5DFE, U+5E02-5E03,
        U+5E05, U+5E1D, U+5E2D-5E2E, U+5E45, U+5E72, U+5E78,
        U+5E7D, U+5E7F, U+5E84, U+5E86, U+5E8A, U+5E93,
        U+5E95, U+5E97, U+5E9C, U+5EA7, U+5EB7, U+5EC9,
        U+5ED6, U+5EF6, U+5F03-5F04, U+5F15, U+5F1F, U+5F31,
        U+5F39, U+5F52-5F53, U+5F69, U+5F6D, U+5F79, U+5F7B,
        U+5F80-5F81, U+5F88, U+5F8B, U+5F90, U+5F92, U+5FA1,
        U+5FAE, U+5FB7, U+5FC3, U+5FC5-5FC6, U+5FD7, U+5FD9,
        U+5FE7, U+5FF5, U+5FFD, U+6000, U+600E, U+6012,
        U+601C-601D, U+6021, U+6025, U+602A, U+6050, U+6062,
        U+6068-6069, U+607C, U+6084, U+6089, U+6094, U+60A3,
        U+60A8, U+60B2, U+60CA, U+60DC, U+6101, U+610F,
        U+6155, U+61C2, U+61D2, U+620F, U+6218, U+621A,
        U+6234, U+6237, U+623F, U+624D, U+6253-6254, U+6258,
        U+6267, U+626C, U+626E, U+6270, U+6279, U+627E,
        U+6280, U+628A, U+6293, U+6297-6298, U+62A2, U+62A4-62A5,
        U+62AC, U+62B1, U+62B5, U+62BD, U+62C5, U+62C9,
        U+62D2, U+62DB-62DC, U+62FE-62FF, U+6307, U+6311, U+6325,
        U+632F, U+633A, U+635F, U+6388-6389, U+638C, U+6392,
        U+63A2, U+63A7-63A8, U+63CF-63D0, U+63E1, U+641E, U+642D,
        U+6444, U+6447, U+6492, U+64CD, U+652F, U+6539,
        U+653F, U+6545, U+6559, U+6562-6563, U+656C, U+6572,
        U+6574, U+6597, U+659C, U+65A7, U+65C1, U+65C5,
        U+65CB, U+65CF, U+65D7, U+65E6-65E7, U+65E9, U+660C,
        U+660E, U+6613, U+661F-6620, U+663E, U+665A, U+6668,
        U+666F, U+6674, U+667A, U+6691, U+6696, U+66B4,
        U+66F2, U+66F9, U+66FF, U+670D, U+6717, U+671D,
        U+6728, U+672B, U+6731, U+6742-6743, U+674E, U+6751,
        U+675C, U+675F, U+6768, U+676F-6770, U+677E, U+6797,
        U+67CF-67D0, U+67D3, U+67F3, U+67FF, U+6821, U+6848,
        U+684C, U+6865, U+6881, U+6885, U+68D2, U+68EE,
        U+68F5, U+690D, U+6982, U+6A0A, U+6A21, U+6A2A,
        U+6A61, U+6B22, U+6B27, U+6B32, U+6B49, U+6B4C,
        U+6B64, U+6B66, U+6B7B, U+6B96, U+6BB7, U+6BCD,
        U+6BD2, U+6BD4-6BD5, U+6BDB, U+6C11, U+6C14, U+6C34,
        U+6C41-6C42, U+6C47, U+6C49, U+6C57, U+6C5F, U+6C61,
        U+6C64, U+6C6A, U+6C7D, U+6C88-6C89, U+6C99, U+6CA1,
        U+6CB3, U+6CB9, U+6CC9, U+6CDB, U+6CE2, U+6CE5,
        U+6CE8, U+6CFC-6CFD, U+6D0B, U+6D17, U+6D1B, U+6D1E,
        U+6D2A, U+6D32, U+6D3E, U+6D4E, U+6D6A, U+6D6E,
        U+6D77, U+6D89, U+6DA6, U+6DB2, U+6DE1, U+6DF1,
        U+6E21, U+6E29, U+6E2F, U+6E56, U+6E5B, U+6ED5,
        U+6F14, U+6F58, U+6F6E, U+6FC0, U+706B, U+706D,
        U+7070, U+7075, U+70AE, U+70B8, U+70DF, U+70E4,
        U+70E6, U+70ED, U+718A, U+719F, U+7206, U+722C,
        U+7236, U+7238, U+724C, U+7259, U+725B, U+72AF,
        U+72B9, U+72C2, U+72EC, U+731B-731C, U+7387, U+7389,
        U+739B, U+73A9, U+73E0, U+73ED, U+7403, U+7434,
        U+745E, U+74E6, U+7518, U+751A, U+752B, U+7530,
        U+7532-7533, U+7537, U+754F, U+7565, U+756A, U+7591,
        U+75C5, U+767B, U+767D-767E, U+7687, U+76AE, U+76CA,
        U+76D0, U+76D6, U+76D8, U+76DB, U+76EE, U+7701,
        U+7709, U+7761, U+7763, U+77FF, U+7801, U+7814,
        U+7834, U+7838, U+7840, U+7855, U+786C, U+786E,
        U+793A, U+793C, U+793E, U+7941, U+7948, U+795D,
        U+7968, U+7981, U+798F, U+79B9, U+79C0-79C1, U+79CB,
        U+79D1, U+79D8, U+79DF, U+79E6, U+79EF, U+7A0D-7A0E,
        U+7A33, U+7A46, U+7A76-7A77, U+7A7F, U+7AA6, U+7ADE,
        U+7AE0, U+7AE5, U+7AEF, U+7B11, U+7B14, U+7B26,
        U+7B28, U+7B54, U+7B56, U+7B7E, U+7B97, U+7BA1,
        U+7BB1, U+7BC7, U+7C4D, U+7C73, U+7C97, U+7CAE,
        U+7CCA, U+7CD6, U+7D20, U+7D22, U+7E41, U+7EA2,
        U+7EA6-7EA7, U+7EB7, U+7EC3, U+7EC6, U+7EC8, U+7ECD,
        U+7ED5, U+7EE7, U+7EF4, U+7EFC, U+7F13, U+7F29,
        U+7F3A, U+7F57, U+7F5A, U+7F6A, U+7F72, U+7F8A,
        U+7F8E, U+7F9E, U+7FA1, U+7FA4, U+7FBD, U+7FDF,
        U+7FFB-7FFC, U+8001, U+8003, U+8010, U+8036, U+804C,
        U+8058, U+805A, U+8089, U+80A1, U+80A4-80A5, U+80A9,
        U+80AF, U+80B2, U+80CC, U+80DC, U+80E1, U+80F3,
        U+810F, U+811A, U+8131, U+8138, U+813E, U+8170,
        U+818A, U+818F, U+820D, U+8212, U+821E, U+822A,
        U+822C, U+8231, U+8239, U+827E, U+8282, U+82CF,
        U+82D7, U+82E5-82E6, U+8303, U+8336, U+8349, U+8352,
        U+8363, U+836F, U+83AB, U+83B1, U+83DC, U+8404,
        U+8425, U+8427-8428, U+8457, U+845B, U+8461, U+8463,
        U+848B, U+8499, U+84DD, U+8521, U+8584, U+859B,
        U+864E, U+865A, U+867D, U+86CB, U+8840, U+8861,
        U+8863, U+8881, U+889C, U+88C1-88C2, U+891A, U+89C4,
        U+89E6, U+8A00, U+8B66, U+8BA4, U+8BA8, U+8BAD-8BAF,
        U+8BB2, U+8BBA, U+8BBF, U+8BC1, U+8BC4, U+8BC6,
        U+8BC9-8BCA, U+8BCD, U+8BD1, U+8BD7, U+8BDD, U+8BE5-8BE6,
        U+8BED, U+8BEF, U+8BF4, U+8BF8, U+8BFA-8BFB, U+8BFE,
        U+8C01, U+8C03, U+8C05, U+8C08, U+8C0A-8C0B, U+8C22,
        U+8C2D, U+8C37, U+8C61, U+8C8C, U+8D1D, U+8D1F,
        U+8D22-8D23, U+8D25, U+8D27, U+8D2B, U+8D2D, U+8D34-8D35,
        U+8D38-8D3A, U+8D3E, U+8D44, U+8D56, U+8D5A-8D5B, U+8D5E,
        U+8D62, U+8D75, U+8D85, U+8D9F, U+8DB3, U+8DDD,
        U+8DDF, U+8DF3, U+8EBA, U+8F66, U+8F6E-8F6F, U+8F7B,
        U+8F83, U+8F93, U+8F9B, U+8FA3, U+8FA9, U+8FCE,
        U+8FD0, U+8FD4, U+8FDD, U+8FDF, U+8FF0, U+8FF9,
        U+8FFD, U+9000-9001, U+9003, U+900F, U+9014, U+901B,
        U+9047, U+904D, U+9053, U+906D, U+907F, U+9093,
        U+90A2, U+90A6, U+90AC, U+90B1, U+90B5, U+90B9,
        U+90CA, U+90CE, U+90D1, U+90DD, U+90ED, U+9146,
        U+914D, U+9152, U+9178, U+9192, U+91C7, U+91CA,
        U+9488, U+949F, U+94A5, U+94B1, U+94C1, U+9500,
        U+952E, U+9547, U+955C, U+957F, U+95E8, U+95F9,
        U+95FB, U+9605, U+960E, U+961F, U+9633-9636, U+963B,
        U+963F, U+9644-9646, U+964D, U+9650, U+9662, U+9669-966A,
        U+9677, U+9686, U+969C, U+96C4-96C6, U+96E8, U+96EA,
        U+96F6-96F7, U+9707, U+9769, U+97E6, U+97E9, U+9879,
        U+987B, U+987F, U+9884, U+9886-9887, U+9896-9897, U+989D,
        U+98CE, U+98DF, U+9910, U+996D, U+997A, U+997C,
        U+9986, U+9996, U+9999, U+9A6C, U+9A7B, U+9A7E,
        U+9A84, U+9A86, U+9A91, U+9A97, U+9AA8, U+9B3C,
        U+9B42, U+9B4F, U+9B54, U+9C81, U+9C8D, U+9C9C,
        U+9E1F, U+9E21, U+9E2D, U+9EA6, U+9EBB, U+9EC4,
        U+9ECE, U+9ED8, U+9F13, U+9F3B, U+9F50, U+9F84,
        U+9F99-9F9A, U+FF01, U+FF1A-FF1B;
}
/* @font-face {
    font-family: LXGWWenKai;
    src: url(../fonts/LXGWWenKaiLite-Regular.ttf) format("truetype");
} */


:root {
    --bg-color: #d6d6d6;
    --text-color: #000000;

    --paddings-1x: 36px;
    --paddings-2x: 72px;
    --paddings-3x: 108px;
    --author-padding-bottom: 42px;

    --intro-cn-font-size: 16px;
    --intro-en-font-size: 16px;
    --intro-line-height: 24px;
    --dot-size: 12px;

    --headline-cn-font-size: 84px;
    --headline-en-font-size: 84px;
    --headline-line-height: 124px;
    --author-line-height: 21px;

    --body-cn-font-size: 56px;
    --body-en-font-size: 56px;
    --body-line-height: 90px;

    --pigeon-h: 60px;
    --pigeon-w: 152px;

    --en-fonts: 
        "IBMDokument";
    --cn-fonts: 
        "KaiTi", 
        "Kaiti SC", 
        "楷体", 
        "STKaiti", 
        "华文楷体", 
        "BiauKai", 
        "DFKai-SB", 
        "ChillKai", 
        "LXGWWenKai", 
        "SongTi SC", 
        "SimSun", 
        "宋体"
}

*, body {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
html, body {
    height: auto;
    width: 100vw;
}
body {
    background-color: var(--bg-color);
    font-family: var(--en-fonts), var(--cn-fonts), serif;
}
.cn {
    font-family: var(--cn-fonts), serif;
}
::selection {
    background: rgba(255, 255, 255, 0.2);
    color: inherit;
}
::-moz-selection {
    background: rgba(255, 255, 255, 0.2);
    color: inherit;
}
a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
main {
    padding: var(--paddings-2x) var(--paddings-1x);
}
main.homepage {
    /* padding-bottom: var(--paddings-1x); */
    padding-bottom: 0;
}
.hidden-on-desktop {
    display: none;
}
.hidden {
    display: none;
}


/* =========================
   作品封面图
========================= */
.image-cursor {
    position: fixed;
    height: 220px;
    width: auto;
    left: 0;
    top: 0;

    pointer-events: none;
    z-index: 100;

    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -50%);
    transition:opacity 0.15s ease,
}
.mobile-cover {
  display: none;
}

/* =========================
   Idle Pigeons
========================= */
#pigeon-layer {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    overflow: hidden;
    z-index: 999;
}
.idle-pigeon {
    position: absolute;
    display: block;
    width: 60px;
    height: auto;

    pointer-events: none;
    user-select: none;
    -webkit-user-drag: none;

    color: var(--text-color);
}

/* =========================
   顶部简介
========================= */
header {
    position: sticky;
    top: 0;
    padding: var(--paddings-1x); 
    z-index: 99;
}
.intro {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 
        minmax(0,2fr)
        minmax(0,3fr)
        minmax(0,1fr);
    column-gap: var(--paddings-1x);
    padding-bottom: var(--paddings-1x);
}
.intro > div {
    min-width:0;
}
.intro-cn, .intro-mobile, .work-meta {
    font-size: var(--intro-cn-font-size);
    line-height: var(--intro-line-height);
}
.intro-en, .intro-meta {
    font-size: var(--intro-en-font-size);
    line-height: var(--intro-line-height);
}
.intro a, .work-meta a {
    text-decoration: underline 1px;
    text-underline-offset: 1.5px;
}
.intro a:hover, .work-meta a:hover {
    text-decoration: none;
}
.intro-mobile {
    display: none;
}
.intro-cn, .intro-en, .intro-meta {
    display: grid;
}
.intro-state {
    grid-area: 1 / 1;
}
.intro-full {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}
.intro-collapsed {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.intro.is-collapsed .intro-full {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.intro.is-collapsed .intro-collapsed {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}
.intro-gap {
    display: inline-block;
    width: 2em;
}
.mobile-intro-default {
    display: block;
}
.mobile-intro-expanded {
    display: none;
}
.intro.mobile-expanded .mobile-intro-default {
    display: none;
}
.intro.mobile-expanded .mobile-intro-expanded {
    display: block;
}
.single-column-meta {
    display: none;
    margin-top: var(--paddings-1x);
}

.news {
    position: relative;
    width: 100%;
    padding: var(--paddings-2x) var(--paddings-1x);

    font-family:Arial, Helvetica, sans-serif;
    font-size: var(--body-en-font-size);
    line-height: var(--body-line-height);
    text-align: center;
    color: var(--text-color);
}

/* =========================
   作品列表
========================= */
.headline-cn {
    font-size: var(--headline-cn-font-size);
    line-height: var(--headline-line-height);
}
.headline-en {
    font-size: var(--headline-en-font-size);
    line-height: var(--headline-line-height);
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
aside.author {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    vertical-align: middle;

    padding: 0 var(--paddings-1x);
    padding-bottom: var(--author-padding-bottom);
    height: 0;
    width: max-content;
}
aside.author > div {
    /* transform: translateY(-50%); */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    vertical-align: middle;
}
.author-cn {
    font-size: var(--intro-cn-font-size);
    line-height: var(--author-line-height);
}
.author-en {
    font-size: var(--intro-en-font-size);
    line-height: var(--author-line-height);
}



/* =========================
   右下角鸽子
========================= */
#pigeon {
    height: var(--headline-line-height);
    float: right;
    display: flex;
    align-items: flex-end;
    /* align-content: right; */
    /* margin-bottom: var(--paddings-1x); */
    padding-right: var(--paddings-1x);
    padding-bottom: var(--paddings-1x);
}
/* #pigeon {
    height: var(--headline-line-height);
    flex: 1 0 var(--pigeon-w);
    min-width: var(--pigeon-w);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
} */
#pigeon img {
    display: block;
    width: var(--pigeon-w);
    height: var(--pigeon-h);
    flex-shrink: 0;
}

/* =========================
   作品信息
========================= */
.work-meta {
    position: relative;
    width: 100%;
    height:0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: var(--paddings-1x);
    /* padding-bottom: var(--paddings-1x); */
    color: var(--text-color);
}
.dot {
    position: relative;
    display: inline-block;
    width: var(--dot-size);
    height: var(--dot-size);
    background-color: var(--text-color);
    border: 1px solid var(--text-color);
    box-sizing: border-box;
    transform: translateY(1px);
}
.work-meta.is-open .dot {
    background-color: transparent;
}
.dot::before, .dot::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 141.42%;
    height: 1px;
    background-color: var(--text-color);
    transform-origin: center;
    opacity: 0;
}
.work-meta.is-open .dot::before {
    opacity: 1;
    transform:
        translate(-50%, -50%)
        rotate(45deg);
}
.work-meta.is-open .dot::after {
    opacity: 1;
    transform:
        translate(-50%, -50%)
        rotate(-45deg);
}
.work-details {
  display: none;
}
.work-meta.is-open .work-details {
  display: block;
}
.work-details > div {
    display: grid;
    grid-template-columns:
        minmax(0,1fr)
        minmax(0,3fr);
    column-gap: var(--paddings-1x);
    min-width:0;
}
.work-label {
    display: inline-flex;
    align-items: center;
    width: fit-content;
    justify-self: start;
    align-self: start;
    gap: 1em;
    cursor: pointer;
}

/* =========================
   正文
========================= */
.work-content {
    display: grid;
    width: 100%;
    grid-template-columns:
        minmax(0,1fr)
        minmax(0,4fr)
        minmax(0,1fr);
    column-gap: var(--paddings-1x);
}
.work-content > div {
    min-width:0;
}
.article-cn {
    font-size: var(--body-cn-font-size);
    line-height: var(--body-line-height);
}
.article-en {
    font-size: var(--body-en-font-size);
    line-height: var(--body-line-height);
}
.article > p {
    padding-bottom: var(--paddings-2x);
}

/* =========================
   图片
========================= */
.image {
    width: 100%;
    padding-bottom: var(--paddings-2x);
}
.image img, .image video {
    max-width: 100%;
    width: 100%;
    height: auto;
}



/* Desktop XL */
@media (min-width:2000px){
    :root {
        --author-padding-bottom: 60px;

        --intro-cn-font-size: 18px;
        --intro-en-font-size: 18px;
        --intro-line-height: 27px;
        --dot-size: 13.5px;

        --headline-cn-font-size: 96px;
        --headline-en-font-size: 96px;
        --headline-line-height: 144px;
        --author-line-height: 23px;

        --body-cn-font-size: 64px;
        --body-en-font-size: 64px;
        --body-line-height: 96px;

        --pigeon-h: 75px;
        --pigeon-w: 190px;
    }
}

/* Tablet Horizontal */
@media (max-width:1368px){
    :root {
        --paddings-1x: 24px;
        --paddings-2x: 48px;
        --paddings-3x: 72px;
        --author-padding-bottom: 30px;

        --intro-cn-font-size: 15px;
        --intro-en-font-size: 15px;
        --intro-line-height: 22px;
        --dot-size: 11.5px;

        --headline-cn-font-size: 64px;
        --headline-en-font-size: 64px;
        --headline-line-height: 96px;
        --author-line-height: 18px;

        --body-cn-font-size: 36px;
        --body-en-font-size: 36px;
        --body-line-height: 64px;

        --pigeon-h: 45px;
        --pigeon-w: 114px;
    }
}

/* Tablet Vertical */
@media (max-width:1080px){
    .hidden-on-desktop { display: block; }
    .hidden-on-mobile { display: none; }
    .intro {
        grid-template-columns: 
            minmax(0,2fr)
            minmax(0,1fr);
    }
    .intro-mobile {
        display: grid;
    }
    .intro-cn, .intro-en {
        display: none;
    }
    aside.author {
        flex-flow: row nowrap;
        gap: 0 var(--paddings-1x);
    }
    aside.author > div {
        max-height: 80px;
    }
    .work-meta {
        grid-template-columns: 1fr 2fr;
    }
    .work-content {
        display: block;
    }
}

/* Mobile */
@media (max-width:768px){
    :root {
        --paddings-1x: 18px;
        --paddings-2x: 36px;
        --paddings-3x: 54px;
        --author-padding-bottom: 16px;

        --intro-cn-font-size: 14px;
        --intro-en-font-size: 14px;
        --intro-line-height: 21px;
        --dot-size: 10.5px;

        --headline-cn-font-size: 36px;
        --headline-en-font-size: 36px;
        --headline-line-height: 54px;
        --author-line-height: 16.5px;

        --body-cn-font-size: 24px;
        --body-en-font-size: 24px;
        --body-line-height: 40px;

        --pigeon-h: 30px;
        --pigeon-w: 76px;
    }
}

@media (max-width:458px){
    .intro {
        grid-template-columns: 1fr;
        gap: var(--paddings-1x);
    }
    .intro-meta {
        display: none;
    }
    .single-column-meta {
        display: block;
    }
}

@media (hover: none) {
    .image-cursor {
        display: none;
    }
    img.mobile-cover {
        display: inline;
        height: var(--headline-cn-font-size);
        align-self: center;
        transform: translateY(20%) scale(1.1);
        margin-right: 8px;
    }
}